<div class="content">
  <p><%= post.title %></p>
  <p><%= post.content %></p>
  <% post.images.each do |image| %>
    <%= image_tag image.src.url %>
  <% end %>
</div>

<%= link_to '編集', edit_post_path(post) %>