.topImage {
  background-image: image-url("topImg.jpg");
  background-size: cover;
  height: calc(100vh - 56px);
  &__inContent {
    top: 25vh;
    left: 10vw;
  }
}
.topImage__inContent--title {
  font-size: 4rem;
  color: #ffffff;
  text-shadow: 8px 6px 7px rgba(0, 0, 0, 0.4);
}
.topImage__inContent--content {
  font-size: 1.5rem;
  color: #ffffff;
  text-shadow: 8px 6px 7px rgba(0, 0, 0, 0.4);
}
.topImage__inContent--div {
  border: solid 2px #ffffff;
  font-weight: 700;
  color: #ffffff;
  padding: 15px;
  text-decoration: none;
  width: 200px;
  margin-top: 100px;
  cursor: pointer;
}
.top__nav {
  color: #ffffff;
}
.top__nav:hover {
  color: #ffffff;
}
body {
  background-color: rgba(var(--b3f,250,250,250),1);
}
.btn-arrival {
  background-color: #6796de;
  color: #fff;
}
.list-group {
  border-bottom: 3px solid #e8e8e8;
}
.tppag_cd {
  border-radius: 20px;
}
.top_img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#top_main {
  display: inline-block;
  margin-bottom: -35px;
  position: relative;
  padding-left: 75px;
}
.contents_top {
  //text-align: center;
}
#delete_post {
  display: block;
  text-align: left;
}
.alert {
  margin-bottom: 0px;
}
.post_box {
  margin-right: 30px;
}
.top_main_ft {
  font-size: 2rem;
  font-weight: 600;
  color: #6796de;
}
.post_li {
  border-radius: 20px;
}
.top_main_content {
  position: absolute;
  top: 100px;
  left: 900px;
  height: 565px;
  width: 355px;
  border-radius: 20px;
  position: fixed;
  margin-top: 31px;
}
.font__user {
  padding-top: 8px;
  padding-left: 17px;
  font-weight: 600;
  font-size: 18px;
}
.top_user {
  display: flex;
  position: relative;
  padding: 25px;
}
#user__path {
  position: absolute;
  top: 56px;
  left: 105px;
}
.view_pf {
  color: #8e8e8e;
  font-weight: 400;
}
.view_pf:hover {
  color: #8e8e8e;
}
.list__title {
  font-size: 16px;
  font-weight: 600;
  padding-left: 20px;
  color: #8e8e8e;
  padding-bottom: 15px;
}
.list__ct {
  list-style: none;
  padding-left: 20px;
}
.list__view {
  display: flex;
  justify-content: space-between;
  padding-right: 35px;
}
#ranks_list {
  height: 98px;
  padding-top: 10px;
}
.profile_ct {
  display: flex;
}
.top_user_name {
  font-size: 16px;
  font-weight: 600;
  color: #262626;
  padding-left: 10px;
}
.user__name {
  margin-top: -4px;
}
.view__user {
  font-size: 14px;
  font-weight: 400;
  color: #8e8e8e;
}
.view__ct {
  padding-left: 10px;
  margin-top: -6px;
}
#header_nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
.page-footer {
  margin-top: 50px;
}
.container-fluid {
  margin-top: 56px;
}
.row_cl {
  margin-left: 0;
}
.post_present {
  margin-right: 652px;
  margin-left: 110px;
  border-radius: 20px;
  height: 565px;
}
.index__title {
  justify-content: center;
  padding-top: 110px;
}
.top__index {
  padding-top: 20px;
  text-align: center;
}
.top__btn {
  text-align: center;
  padding-top: 25px;
}
.btn-arrival:hover {
  color: #ffffff;
}
.top_h4 {
  text-decoration: underline;
}
.ranks_user {
  font-size: 23px;
  color: #262626;
  font-weight: 600;
}
.rank_ct {
  display: flex;
}
.rank_item {
  margin-left: 10px;
}
.rank_div {
  display: flex;
  margin-top: 10px;
}
.rank_index {
  padding-top: 15px;
}
.fa-user-circle {
  margin-top: 3px;
}
.rank_post {
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;

}
.rank_p {
  font-size: 18px;
  font-weight: 500;
}
.rank_img {
  border-radius: 100px;
  border: solid #e8e8e8;
  height: 38px;
  width: 38px;
}
.top_rank_img {
  border-radius: 100px;
  border: solid #e8e8e8;
  height: 63px;
  width: 63px;
}

//レスポンシブ
@media screen and (max-width: 480px) {
  #header_nav {
    width: 100vw;
  }
  .row_cl {
    margin-right: 0px;
  }
  .topImage {
    height: 100vw;
  }
  .topImage__inContent {
    top: 90px;
    left: 20px;
  }
  .topImage__inContent--title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .topImage__inContent--content {
    font-size: 1rem;
    font-weight: 600;
  }
  .topImage__inContent--div {
    margin-top: 35px;
    padding: 10px;
    width: 140px;
  }
  .row_div {
    margin-right: 0px;
  }
  .top_img {
    height: 300px;
  }
  .tppag_cd {
    width: 90%;
  }
  .div_rpo {
    margin-top: -55px;
    margin-left: -10px;
  }
  .top__user {
    margin-top: -55px;
    margin-bottom: -35px;
  }
  .rank_item {
    margin-top: -15px;
  }
  .rank_ct {
    display: block;
  }
  .icon__users {
    font-size: 8.5px;
  }
  .rank_div {
    margin-top: 0px;
    margin-bottom: -10px;
  }
  #top_main {
    display: contents;
  }
  .size__img {
    width: 140px;
    height: 186px;
    border-radius: 10px;
  }
  .img__posts {
    display: flex;
  }
  .text-muted {
    font-size: 13px;
  }
  .search_form {
    position: inherit;
    right: 0;
    margin-top: 10px;
  }
  #search {
    top: 0px;
    height: 26px;
  }
  .fa-search {
    top: 64px;
    left: 285px;
  }
  .container-fluid {
    display: flex;
    flex-direction: column;
  }
  .top_main_content {
    position: initial;
    margin-left: 12px;
    order: 2;
    width: 323px;
    margin-left: 27px;
    margin-top: 10px;
    height: 61vh;
  }
  .post_present {
    width: 86%;
    height: 25vh;
    margin-left: 25px;
    order: 1;
  }
  .list__ct {
    padding-right: 10px;
  }
  #user__path {
    margin-left: 104px;
    margin-top: 50px;
    top: auto;
    left: auto;
  }
  .list__view {
    justify-content: space-between;
    padding-right: 10px;
  }
  .profile_ct {
    margin-right: 0px;
  }
  .index__title {
    padding-top: 0px;
  }
  .svg-inline--fa.fa-w-18 {
    font-size: 45px;
  }
  .top__btn {
    padding-top: 5px;
  }
  .top__h4 {
    font-size: 15px;
  }
  .top__index {
    padding-top: 5px;
  }
  .page-footer {
    margin-top: 0px;
  }
  .top_user {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #ranks_list {
    height: 70px;
  }
  .top_rank_img {
    width: 35px;
    height: 35px;
  }
  .ranks_user {
    font-size: 20px;
  }
  .rank_p {
    font-size: 15px;
  }
  .rank_post {
    font-size: 15px;
  }
  .btn-arrival {
    font-size: 14px;
  }
  .top_h4 {
    font-size: 19px;
  }
  .card-title {
    font-size: 20px;
  }
  .card-text {
    font-size: 13px;
  }
}