// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-container {
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
  padding: 30px 20px 0;
}
.user-count {
  display: flex;
  list-style: none;
}
.span-data {
  margin-right: 40px;
  font-size: 18px;
}
.user-name {
  margin-left: 40px;
}
.section-content {
  position: relative;
}
.icon {
  margin-top: 5px;
}
.user-dm {
  display: flex;
  margin-bottom: 15px;
}
.message-button {
  width:150px;
  height:30px;
  text-align:center;
  display:inline-block;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  text-decoration:none;
  font-weight: 600;
  background-color: white;
  color: #262626;
  margin-left: 40px;
}
nav {
  background-color: #6796de;
}
.follow-bt {
  margin-left: 10px;
}
.cps {
  font-weight: 600;
}
.c-posts {
  border-top: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  color: #8e8e8e;
  height: 40px;
}
.posts-tag {
  margin-right: 60px;
  color: #8e8e8e;
  border-top: 1px solid #262626;
  padding-top: 7px;
}
.posts-favorite {
  color: #8e8e8e;
  border-top: 1px solid #262626;
  padding-top: 7px;
}
a:hover {
  text-decoration: none;
}
.count-btn {
  color: black;
}
.posts-tag:hover {
  color: #8e8e8e;
}
.posts-favorite:hover {
  color: #8e8e8e;
}
.preview {
  width: 165px;
  height: 165px;
  border-radius: 100px;
  border: solid #e8e8e8;
  position: absolute;
  top: -160px;
  right: 298px;
}
.icon__img {
  width: 165px;
  height: 165px;
  border-radius: 100px;
  border: solid #e8e8e8;
}
.icon__prf {
  margin-left: 41px;
  margin-top: 5px;
}
.account-page__inner--icon {
  text-align: center;
}
.account-page__inner--icon__input__image2 {
  position: relative;
}
#upload-icon {
  width: 161px;
  height: 161px;
  border-radius: 100px;
  position: absolute;
  top: 35px;
  opacity: 0;
  cursor: pointer; 
  right: 298px;
}
.account-page__inner--icon__input__image {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  border: solid #e8e8e8;
}
.edit__icon {
  margin-right: 340px;
  margin-left: 340px;
  border-radius: 20px;
}
.edit_title {
  color: #6796de;
  font-weight: 600;
  text-align: center;
  margin-right: 475px;
  margin-top: 20px;
}
.edit__form {
  text-align: left;
  padding-left: 90px;
  padding-right: 90px;
}
.edit__text {
  height: 45px;
  border-radius: 6px;
}
.submit_ebit {
  margin-left: 90px;
}
.edit_user {
  margin-top: 35px;
  margin-bottom: 35px;
}
.icon___img {
  border-radius: 100px;
  border: solid #e8e8e8;
  width: 63px;
  height: 63px;
}
.size {
  font-size: 9.5rem;
}
.user-ct {
  margin-top: 17px;
}
.user-contents {
  margin-top: 30px;
  margin-right: 65px;
}
.user_rank_img {
  border-radius: 100px;
  border: solid #e8e8e8;
  height: 48px;
  width: 48px;
}
.img__show {
  border-radius: 100px;
  width: 110px;
  height: 110px;
  border: solid #e8e8e8;
}

//レスポンシブ
@media screen and (max-width: 480px) {
  .sign__up {
    margin-right: 0px;
    margin-left: 0px;
  }
  .log_in {
    margin-top: 40px;
  }
  .sign__up {
    justify-content: center;
  }
  .sign__form {
    width: 90%;
  }
  .user-container {
    margin-bottom: 40px;
    padding-top: 20px;
  }
  .icon {
    margin-top: 12px;
    margin-left: 17px;
  }
  .size {
    height: 68px;
  }
  .user-name {
    margin-left: 15px;
  }
  .message-button {
    margin-left: 15px;
  }
  .span-data {
    margin-right: 10px;
    font-size: 16px;
  }
  .user-dm {
    margin-bottom: 17px;
  }
  .li_main {
    width: 100%;
    padding-right: 7px;
  }
  .user_stl {
    justify-content: space-between;
    width: 100%;
    padding-right: 10px;
  }
  .user-body {
    margin-right: 54px;
  }
  .user-contents {
    width: 100%;
    margin-top: 10px;
  }
  .user-count {
    margin-left: -108px;
    margin-right: -55px;
  }
  .icon__img {
    width: 68px;
    height: 68px;
  }
  .icon__prf {
    margin-left: -20px;
  }
  .user-dm {
    display: block;
  }
  .follow-bt {
    margin-top: 10px;
    margin-right: -65px;
    margin-left: -85px;
  }
  .svg-inline--fa.fa-w-16 {
    width: auto;
  }
  .user_stl {
    padding-bottom: 0px;
  }
  .user-body {
    margin-right: 0px;
    margin-left: 0px;
  }
  .post_box {
    width: 100%;
    padding-left: 30px;
  }
  .users__follow {
    width: 116px;
  }
  .img-border {
    width: 140px;
    height: 186px;
  }
  .img__flex {
    display: flex;
  }
  .posts__li {
    margin: 5px;
  }
  .edit_title {
    margin-right: auto;
    font-size: 20px;
  }
  .edit__icon {
    margin-right: auto;
    margin-left: auto;
  }
  #upload-icon {
    width: 65px;
    height: 68px;
    left: 154px;
    top: 38px;
  }
  .preview {
    width: 65px;
    height: 68px;
    top: -68px;
    right: 154px;
  }
  .user-name {
    font-size: 25px;
  }
  .user-ct-nm {
    font-size: 20px;
    color: black;
  }
  .user-ct-nm:hover {
    color: black;
  }
  .user-ct {
    margin-top: 13px;
    margin-left: -5px;
  }
  .posts-box_ud {
    margin-bottom: 25px;
  }
  .user_rank_img {
    border-radius: 100px;
    border: solid #e8e8e8;
    height: 48px;
    width: 48px;
  }
  #view_pf {
    font-size: 15px;
  }
  #user_nm {
    font-size: 15px;
  }
}