// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-container {
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
  padding: 30px 20px 0;
}
.user-count {
  display: flex;
  list-style: none;
}
.span-data {
  margin-right: 40px;
  font-size: 18px;
}
.user-name {
  margin-left: 40px;
}
.section-content {
  position: relative;
}
.icon {
  position: absolute;
  left: 310px;
  top: 79px;
}
.user-dm {
  display: flex;
  margin-bottom: 15px;
}
.message-button {
  width:150px;
  height:30px;
  text-align:center;
  display:inline-block;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  text-decoration:none;
  font-weight: 600;
  background-color: white;
  color: #262626;
  margin-left: 40px;
}
nav {
  background-color: #6796de;
}
.follow-bt {
  margin-left: 10px;
}
.cps {
  font-weight: 600;
}
.c-posts {
  border-top: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  color: #8e8e8e;
  height: 40px;
}
.posts-tag {
  margin-right: 60px;
  color: #8e8e8e;
  border-top: 1px solid #262626;
  padding-top: 7px;
}
.posts-favorite {
  color: #8e8e8e;
  border-top: 1px solid #262626;
  padding-top: 7px;
}
a:hover {
  text-decoration: none;
}
.count-btn {
  color: black;
}
.posts-tag:hover {
  color: #8e8e8e;
}
.posts-favorite:hover {
  color: #8e8e8e;
}
.preview {
  width: 165px;
  height: 165px;
  border-radius: 100px;
  border: solid #e8e8e8;
  position: absolute;
  top: -160px;
  right: 298px;
}
.icon__img {
  width: 165px;
  height: 165px;
  border-radius: 100px;
  border: solid #e8e8e8;
}
.icon__prf {
  margin-left: 41px;
  margin-top: 5px;
}
.account-page__inner--icon {
  text-align: center;
}
.account-page__inner--icon__input__image2 {
  position: relative;
}
#upload-icon {
  width: 161px;
  height: 161px;
  border-radius: 100px;
  position: absolute;
  top: 35px;
  opacity: 0;
  cursor: pointer; 
  right: 298px;
}
.account-page__inner--icon__input__image {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  border: solid #e8e8e8;
}
.edit__icon {
  margin-right: 340px;
  margin-left: 340px;
  border-radius: 20px;
}
.edit_title {
  color: #6796de;
  font-weight: 600;
  text-align: center;
  margin-right: 475px;
  margin-top: 20px;
}
.edit__form {
  text-align: left;
  padding-left: 90px;
  padding-right: 90px;
}
.edit__text {
  height: 45px;
  border-radius: 6px;
}
.submit_ebit {
  margin-left: 90px;
}
.edit_user {
  margin-top: 35px;
  margin-bottom: 35px;
}
.icon___img {
  border-radius: 100px;
  border: solid #e8e8e8;
  width: 63px;
  height: 63px;
}
.size {
  font-size: 9.5rem;
}