
<footer class="page-footer font-small unique-color-dark pt-4">

  
  <div class="container">

    
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <% if logged_in? %>
          <%= link_to 'Log out', logout_path, method: :delete, class: 'btn btn--color btn--radius' %>
        <% else %>
          <%= link_to 'Sign up!', signup_path, class: 'btn btn--color btn--radius' %>
        <% end %>
      </li>
    </ul>
    

  </div>

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/"> Reproduce the color </a>
  </div>

</footer>
